<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css">
   
    <title>Document</title>
</head>
<body>
    <header>
        <section class="header-principal">
            <section class="seccion-header">
                <picture   href="#">
                    <a href="#"><img src="/img/logo.png" class="logo" alt="logo-friendogs"></a>
                </picture>
                <div class="form">
                    <div class="input"> Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fas fa-search"></i></div>
                </div>
                <nav class="navbar-usuario">
                    <a href="#"> <img src="/img/iconos/user.png" class="iconos" alt="Imagen-usuario"> Perfil</a>
                    <a href="#"> <img src="/img/iconos/salida.png" class="iconos" alt="Imagen-usuario">Cerrar Session</a>
                </nav>
            </section>
            <section>
                <nav class="navbar-opciones">
                    <a href="#" >Productos</a>
                    <a href="#" >Promociones</a>
                    <a href="#" >Login</a>
                    <a href="#"><img src="/img/iconos/compras.png" class="carrito"></img></a>
                </nav>
            </section>
        </section>    
    </header>
<main>
    <section>
        <section>
            <h2 class="titulo"> Nuestros productos</h2>
            <nav class="navbar-productos">
                <a href="#"><img src="/img/iconos/alimento.png" alt="icono-alimento"> Alimentos</a>
                <a href="#"><img src="img/iconos/accesorio.png" alt="icono-accesorio"> Accesorios</a>
                <a href="#"><img src="/img/iconos/aseo.png" alt="icono-aseo">Limpieza</a>
            </nav>
        </section>
        <section class="seccion-slider"> 
            <div class="container-slider">
                <div div div class="container">
                    <input type="radio" name="slider" id="item-1" checked>
                    <input type="radio" name="slider" id="item-2">
                    <input type="radio" name="slider" id="item-3">
                    <input type="radio" name="slider" id="item-4" >
                    <input type="radio" name="slider" id="item-5">
                    <input type="radio" name="slider" id="item-6">
        
                    <div class="cards">
                        <label class="card" for="item-1" id="selector-1">
                            <img class="images" src="/img/slider-perros/dog1.jpg" alt="">
                        </label>
                        <label class="card" for="item-2" id="selector-2">
                            <img  class="images" src="/img/slider-perros/dog2.jpg" alt="">
                        </label>
                        <label class="card" for="item-3" id="selector-3">
                            <img class="images" src="/img/slider-perros/dog3.jpg" alt="">
                        </label>
                    </div>
                </div>
            </div>
            <section class="text-dogshow">
                <h2 class="titulo"> En friendogs estámos comprometidos en  y proteccion y atencion de nuestros caninos</h2>
                <p class="texto-1"> Somos la tienda en línea de mascotas canina más completa, creada por dogLovers y
                    para dogLovers!, contamos con gran variedad de productos para el cuidado de tu peludo en Villavicencio. </p>
                <br>
                <p class="texto-2">Desde Friendogs apoyamos y colaboramos orgánicamente y de forma activa con las 
                    casas de rescate y adopción de animales, es por esto que donamos un porcentaje de 
                    nuestras ventas mensualmente a estas causas. Para nosotros es primordial la integridad 
                    y bienestar de las mascotas.</p>
            </section>
        </section>
            <section class="article">
                <div class="descuento">
                     <!-- aqui va un solo slider de productos de descuento variado-->
                </div>  
            </section>
    </section>
</main>
    <footer>
        <section class="contenedor-footer">
            <picture  href="#">
                <a href="#"><img src="/img/logo.png" class="logo-footer" alt="logo-friendogs"></a>
            </picture>
            
              
                    <div class="seccion-footer-2">
                        <h2 class="title-footer">Acerta de Petshop</h2>
                        <a href="#">Terminos Y Condiciones</a>
                        <a href="#">Trabaja Con Nosotros</a>
                        <a href="#">Politicas De Entrega</a>
                        <a href="#">Politicas De Privacidad</a>
                    </div>
                    <div class="seccion-footer-3">
                        <h2 class="title-footer">Informacion</h2>
                        <a href="#">Blog DogFriendly</a>
                        <a href="#">Contactanos</a>
                        <a href="#">Sucursales</a>
                        <a href="#">servicioalcliente@petshop.com</a>
                    </div>
                    <div class="seccion-footer-4">
                        <h2 class="title-footer">Redes Sociales</h2>
                        <a href="#"><img src="/img/iconos/facebook.png" alt="Facebook"> Facebook</a>
                        <a href="#"><img src="/img/iconos/youtube.png" alt="youtube"> Youtube</a>
                        <a href="#"><img src="/img/iconos/instagram.png" alt="instagram"> Instagram</a>  
                    </div>
        </section>
            <div class="seccion-copyright">
                <hr>
                <p class="text-copyright">Todos los derechos reservados © 2021
                <b> dogfriendly Society.</b></p>
            </div>
    </footer>
</body>
</html>